aori-san.com {
    @not_particle not path /particle-life*
    redir @not_particle /particle-life

    root * /usr/share/caddy
    file_server
    encode gzip
}

www.aori-san.com {
    redir https://aori-san.com/particle-life
}