aori-san.com {
    @rewrite_not_particle not path /particle-life*
    rewrite @rewrite_not_particle /particle-life

    root /particle-life /usr/share/caddy

    handle /particle-life {
        file_server
        encode gzip
    }
}
