aori-san.com {

    @not_particle {
        not path /particle-life
    }
    rewrite @not_particle /particle-life

    handle_path /particle-life {
        root * /usr/share/caddy
        file_server
        encode gzip
    }
}
